{% include 'base.html' %}

<div class ="container d-flex justify-content-center align-items-center"  style="min-height: 100vh;">
    <div>
        <h1>Gamers Paradise</h1>

        <div class="media">
            <div class="media-left">
                <img class="media-object" src="{{url_for('static', filename='rdr2.webp')}}" style="height: 250px; width: 500px;">
            </div>
            <div class="media-body">
              <h3 class="media-heading">Red Dead Redemption 2</h3>
              <p>
                Red Dead Redemption 2 is a 2018 action-adventure game developed and published by Rockstar Games. The game is the third entry in the Red Dead series and a prequel to the 2010 game Red Dead Redemption.
              </p>
            </div>
        </div>
        
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="{{url_for('static', filename='hzd.webp')}}" style="height: 250px; width: 500px;">
            </div>
            <div class="media-body">
              <h3 class="media-heading">Horizon Zero Dawn</h3>
              <p>
                Horizon Zero Dawn is a 2017 action role-playing game developed by Guerrilla Games and published by Sony Interactive Entertainment. The plot follows Aloy, a young hunter in a world overrun by machines, who sets out to uncover her past.
              </p>
            </div>
          </div> 
    </div>
</div>    


{% include 'footer.html' %}